<div style="font-size: 16px; color: #333; line-height: 22px; width: 360px;">
  <p>
    <%= @user.first_name %>, este <u style="font-size: 18px"><strong>NÃO</strong></u> é um e-mail pra te influenciar a comprar nada.
  </p>

  <p>Eu odiaria que fizessem isso comigo, portanto eu <u>jamais</u> farei isso com alguém.</p>

  <p>O motivo deste contato é simplesmente com o <strong>intuito de aprender e melhorar o SuperDev</strong>.</p>

  <p>Eu gostaria de entender melhor a razão pela qual você não finalizou o pagamento do boleto.</p>

  <p>- Você teve alguma <strong>dificuldade</strong>?</p>
  <p>- Tem algo que eu <strong>poderia ter feito</strong> pra te ajudar nesse processo?</p>
  <p>- Existe algo que eu poderia ter feito, ou que eu precise melhorar, para que você tivesse decidido estudar conosco?</p>

  <br>
  <p>Entender seu contexto vai me ajudar a melhorar e <u><strong>impactar</strong></u> cada vez mais pessoas, então muito obrigado por tomar um tempo e responder isso.</p>

  <br>

  <p>
    E só pra reforçar, independente de você estar inscrito ou não no SuperDev Academy, no que eu puder lhe ajudar na sua jornada de aprender Programação e alcançar seus objetivos, pode contar comigo.
  </p>

  <p>E eu falo muito sério quando eu digo isso.</p>

  <p>Esse é o meu propósito de vida. Ajudar as pessoas a avançarem, evoluirem e alcançarem seus objetivos é o que me deixa realizado.</p>

  <p>Forte abraço!</p>
  <p>Rafael Garcia</p>
  <p>SuperDev</p>
</div>
