<div style="font-size: 16px; color: #333; line-height: 22px; width: 360px;">
  <p>Fala <%= @first_name %>! Rafael do SuperDev aqui :)</p>

  <p>Tudo tranquilo?</p>

  <p>Você se interessou por fazer nosso curso de HTML há mais ou menos 2 meses.</p>

  <p>Por isso tou entrando em contato pra saber:</p>
  <br>
  <p><strong>Posso te ajudar de alguma forma nos seus estudos?</strong></p>
  <p>Você tá bloqueado ou tem dúvidas?</p>
  <br>
  <p>O objetivo do SuperDev é incentivar a Programação, então pode contar comigo na sua jornada.</p>

  <p>E eu falo bem sério.</p>

  <p>Meu propósito de vida é ajudar pessoas a alcançarem seus sonhos e objetivos através da Programação, se você realmente quer isso, conte comigo :)</p>

  <p>#PartiuCodar!</p>

  <p>Forte abraço!</p>

  <p>Rafael Garcia</p>
  <p><a href="https://www.superdev.academy">www.superdev.academy</a></p>
</div>
