<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    <%= @user.first_name %>,
  </p>

  <p>
    <%= @comment.user.first_name %> acabou de comentar em sua discussão, veja no link abaixo:
  </p>

  <p>
    <%= link_to 'Ver comentário', anchor_discussion_path(@comment.discussion) %>
  </p>

  <p>SuperDev</p>
</div>
