<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Fala, <%= @user.first_name %>!
  </p>

  <p>
    Você agora faz parte da comunidade de Super Devs!
  </p>

  <p>
    Por comodidade, aqui está o link direto para o SuperDev Academy:
    <br>
    <%= link_to root_url, root_url %>
  </p>

  <p>
    [Importante] <%= @user.first_name %>, quero compartilhar 5 Dicas com você para aproveitar ao máximo sua experiência no Campus:
    <ul>
      <li>
        <p>
          <strong>Participe da Comunidade!</strong>
        </p>
        <p>
          Faça perguntas, responda dúvidas de seus colegas, crie discussões sobre os assuntos. A interação vai te motivar a aprender cada vez mais!
        </p>
      </li>
      <li>
        <p>
          <strong>Procure responder as questões corretamente!</strong>
        </p>
        <p>
          Lembre-se que seu nível aumenta de acordo com suas respostas corretas. Se você tem alguma dúvida sobre aquela questão, faça uma pergunta antes de respondê-la para não perder status. ou faça uma pesquisa no Google.
          <br>
          Seu nível será muito importante para definir qual seu aprendizado e te trazer futuras oportunidades.
        </p>
      </li>
      <li>
        <p>
          <strong>Pergunte, pergunte e PERGUNTE!</strong>
        </p>
        <p>
          Tire todas as dúvidas que você tiver, caso contrário sua curva de aprendizado será muito mais lenta.
        </p>
      </li>
      <li>
        <p>
          <strong>Arrisque-se!</strong>
        </p>
        <p>
          Acha que sabe a resposta para alguma dúvida dos colegas? <strong>Responda!</strong> Não tenha medo de errar, o Campus é um local seguro para você errar no qual todos estamos todos buscando aprender todos os dias.
        </p>
      </li>
      <li>
        <p>
          <strong>Divirta-se!</strong>
        </p>
        <p>
          Aprender a Programar não precisa ser chato. Divirta-se enquanto aprende
        </p>
      </li>
    </ul>
  </p>

  <p>
    Me avisa se tiver alguma dúvida.
  </p>

  <p>
    Aproveite!
  </p>

  <p>
    Grande Abraço!
    <br>
    Rafa Garcia
    <br>
    SuperDev
  </p>
</div>
