<div style="font-size: 16px; color: #444; line-height: 22px;">
  <p style="font-size: 18px">
    Opa <%= @user.first_name %>!!! Novo curso liberado! \o/
  </p>

  <p>Agora começa a brincadeira séria!</p>

  <p>
    Vamos entrar no mundo do back-end aprendendo sobre Banco de Dados e SQL (que é a linguagem que manipula os bancos de dados).
  </p>

  <p>Manda ver! <%= link_to 'www.superdev.academy', root_url %></p>

  <p>Se tiver dúvidas é só perguntar lá embaixo do vídeo que eu certamente vou responder, beleza?!</p>

  <p>Vamos nessa! Próxima semana tem curso de <u><strong>Ruby</strong></u> na área! Uhu!</p>

  <p>Abração!</p>
  <p>Rafa Garcia</p>
</div>
