<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Ei tchê! <%= @commentable.user&.first_name %> criou um <%= @commentable.class.name %>:
  </p>

  <hr>

  <em><h4><%= @commentable.title %></h4></em>

  <hr>

  <p>
    <%= link_to 'Ver Post', commentable_url(@commentable) %>
  </p>

  <p>SuperDev</p>
</div>
