<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Ei tchê! <%= @discussion.user.first_name %> criou uma discussão:
  </p>

  <hr>

  <i><h4><%= @discussion.title %></h4></i>
  <i><p><%= simple_format @discussion.text %></p></i>

  <hr>

  <p>
    <%= link_to 'Ver comentário', anchor_discussion_path(@discussion) %>
  </p>

  <p>SuperDev</p>
</div>
