<div style="font-size: 15px; color: #333; line-height: 22px;">
  <p style="font-size: 20px">
    Fala, <%= @user.first_name %>!
  </p>

  <p>
    Ao colocar seus dados de pagamento,, abaixo estão seus dados de acesso para o Campus SuperDev:
  </p>

  <p>
    <strong>Email</strong>: <%= @user.email %>
    <br>
    <strong>Senha</strong>: <%= @user.password %>
  </p>

  <p>
    E este é o link direto para a área do curso:
    <br>
    <%= link_to root_url, root_url %>
  </p>

  <p>
    Me avisa se tiver alguma dúvida.
  </p>

  <p>
    Forte Abraço!
    <br>
    Rafa Garcia
    <br>
    SuperDev
  </p>
</div>
