<div class="container smaller">
  <div class="box bigger">
    <h3 class="mb-5">Dashboard</h3>

    <p>Olá, <%= current_user.name %></p>
    <p>Sua inscrição vencem dia <%= datefy current_user.iugu_subscription_expires_at %></p>
  </div>
</div>
