<div class="container smaller">
  <div class="box bigger">
    <h3 class="mb-5">Dashboard</h3>

    <p>Olá, <%= current_user.name %></p>
    <% if current_user.has_active_subscription? %>
      <p>Sua inscrição expira em <u><%= datefy current_user.iugu_subscription_expires_at, :dBY %></u></p>
    <% end %>
  </div>
</div>
