<% title 'Dashboard' %>

<% content_for :user_dashboard do %>
  <p>
    <strong>Aê, <%= current_user.first_name %>!</strong>
  </p>

  <p>Espero que esteja aprendendo bastante!</p>

  <p>Pode contar com o SuperDev!</p>
  <p>Caso queira tirar alguma dúvida é só <%= link_to 'entrar em contato!', contact_path %> :)</p>
<% end %>

<%= render 'template' %>
