<section class="container smaller">
  <div class="box bigger text-center">
    <h4 class="mb-5">Você precisa de uma inscrição para continuar</h4>

    <%= link_to subscribe_step_1_path, class: 'btn btn-primary btn-lg' do %>
      Inscreva-se para ter acesso imediato
    <% end %>
  </div>
</section>
