<% title 'Você precisa de uma inscrição' %>

<section class="container smaller">
  <div class="box bigger text-center">
    <h4 class="mb-3">Aê!</h4>
    <h4 class="mb-5">Você precisa se inscrever pra acessar os projetos e cursos ;)</h4>

    <div class="d-flex align-items-center flex-column justify-content-center flex-wrap">
      <%= link_to subscribe_step_1_path, class: 'btn btn-primary btn-lg' do %>
        <%= icon 'heart' %> Inscreva-se
      <% end %>

      <% if !user_signed_in? %>
        <div class="fz-1 mt-5">
        Já tem conta?
        </div>
        <%= link_to 'Faça Login', new_user_session_path, class: 'mt-2 fz-1' %>

      <% end %></div>
  </div>
</section>
