<div class="container smallest">
  <h1 class="text-center" style="font-weight: 100; color: #111; margin-bottom: 1rem;">Comece sua Jornada</h1>
  <h5 class="text-center" style="font-weight: 100; color: #666; margin-bottom: 2rem;">Torne-se um Super Programador</h5>

  <div class="box bigger">
    <h4 class="text-center">SuperDev Academy</h4>
    <h6 class="text-center">Pioneiros</h6>

    <ul class="list" style="margin: 2rem 0; font-size: 1rem">
      <li>Estou ciente de que sou pioneiro nessa iniciativa do SuperDev, e, por isso, terei um <strong>desconto único por tempo indeterminado</strong> na mensalidade, até que eu cancele minha inscrição.</li>
      <li>Estou ciente de que terei até 30 dias para pedir reembolso total do meu investimento, por <strong>qualquer que seja o motivo</strong>.</li>
      <li>Estou ciente de que aprenderei a Programar do zero ao avançado, construindo projetos reais que me prepararão para o mercado de trabalho.</li>
      <li>Estou ciente de que preciso estudar e praticar os exercícios para que eu consiga ter sucesso como Programador.</li>
    </ul>

    <div class="d-flex justify-content-center">
      <%= link_to subscribe_step_2_path, class: 'btn btn-success' do %>
        <span style="margin-right: 0.5rem">Concordar e Prosseguir</span>
        <%= icon 'chevron-right' %>
      <% end %>
    </div>
  </div>
</div>
