<% content_for(:subscription) do %>
  <div class="mb-5">
    <h5>1. Como funciona?</h5>
    <p>O SuperDev Academy é um programa totalmente diferenciado no Brasil, com foco total em te ensinar o que dá <strong><u>resultados do modo mais efetivo</u></strong>.</p>
    <p>Vamos construir projetos reais desde o zero e, nesse processo, aprender todas as tecnologias envolvidas no desenvolvimento de sistemas web.</p>
    <p>Toda semana serão liberados novos conteúdos planejados, que vão agregar ao seu conhecimento atual, te levando naturalmente a um aprendizado efetivo.</p>
    <p class="mb-5">O SuperDev Academy é um programa contínuo de aprendizado, por isso temos uma assinatura mensal que garante acesso ao conteúdo e área de discussão apenas para quem tem real interesse, garantindo, assim, a qualidade do serviço.</p>

    <h5>2. Garantia Incondicional</h5>
    <p class="mb-5">
      Estou ciente de que minha satisfação é prioridade.
      <br><br>
      Por isso, terei 30 dias, a partir da aprovação do pagamento, para pedir <u><strong>reembolso TOTAL do meu investimento</strong></u> por qualquer motivo que seja, bastando apenas enviar um e-mail para <a href="mailto:rafael@superdev.academy">rafael@superdev.academy</a> solicitando o reembolso.
      <br><br>
      Simples e sem burocracias.
    </p>

    <h5>3. Desconto único para Pioneiros</h5>
    <p class="mb-5">
      Estou ciente de que sou pioneiro nesta iniciativa do SuperDev, e, por isso, terei um <u><strong>desconto único</strong></u>* na mensalidade até o momento em que eu cancele minha inscrição.
    </p>
    <div style="padding: 1rem; background: #f4f4f4; border-radius: 1rem">
      <p>* A maioria dos cursos de Programação são caros, custando mensalidades em torno de R$ 400,00, até cursos de R$ 2000,00.</p>
      <p>O intuito do SuperDev Academy é ser acessível para impactar o máximo de pessoas.</p>

      <p>Por isso, nossa mensalidade normal é de apenas <br> R$ 65,00.</p>
      <p>Para você, que é pioneiro nesta iniciativa, o valor é ainda melhor: <u><strong>apenas R$ 35,00</strong></u>.</p>
      <p>Acredito que este valor pode ser facilmente pago com o conhecimento adquirido.</p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to subscribe_step_2_path, class: 'btn btn-success btn-lg' do %>
      <span style="margin-right: 0.5rem">Concordar e Prosseguir</span>
      <%= icon 'chevron-right' %>
    <% end %>
  </div>
<% end %>

<%= render 'template' %>
