<div class="container smallest">
  <h1 class="text-center" style="font-weight: 100; color: #111; margin-bottom: 1rem;">Comece sua Jornada</h1>
  <h5 class="text-center" style="font-weight: 100; color: #666; margin-bottom: 2rem;">Torne-se um Super Programador</h5>

  <%= @subscription.inspect if @subscription.present? %>
  <div class="box bigger" ng-init="credit_card = true">
    <h4 class="text-center text-success">Aguardando confirmação do cartão</h4>

  </div>
</div>
