<% if @item.has_next_item? -%>
  <%= link_to item_path(@item.next_item), class: 'btn btn-default' do %>
    <%= local_assigns.fetch :text, 'Partiu Próxima Questão!' %>
    <i class="fa fa-arrow-right"></i>
  <% end -%>

<% else -%>
  <a href="#">
    Veja seus resultados!
    <i class="fa fa-arrow-right"></i>
  </a>
<% end -%>
