<% if @item.itemable.url.present? %>
  <div class="video-container d-flex flex-column justify-content-center align-items-end">
    <button type="button" class="close" aria-label="Close" title="Minimizar o Vídeo">
      <span aria-hidden="true">&times;</span>
    </button>

    <a href="javascript:;" class="maximize btn btn-secondary" title="Maximizar o vídeo">
      <%= icon 'window-maximize' %>
    </a>

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= @item.itemable.url %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <script>
    $(document).on('turbolinks:load', function () {
      var videoContainer = $('.video-container');
      var body = $('body');

      $('.maximize', videoContainer).click(function () {
        videoContainer.addClass('maximized')
        body.addClass('maximized')
      });

      $('.close', videoContainer).click(function () {
        videoContainer.removeClass('maximized')
        body.removeClass('maximized')
      });
    });
  </script>
<% end %>
