<section>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2" role="Course Map">
      <section class="box smaller">
        <h6 class="box-title">
          <%= image_tag 'map_marker.png' %>
          Mapa dos cursos
        </h6>

        <div id="course-map">
          <% @courses.each do |course| %>
            <%= link_to course_path(course), class: 'course' do %>
              <%= image_tag course.image, width: 50 %>
              <%= course.name %>
            <% end %>
          <% end %>
        </div>
      </section>
    </div>
  </div>


</section>
