body > header
  .container-fluid
    padding-top: 1rem
    padding-bottom: 1rem
    margin-left: 15px
    margin-right: 15px

  > nav
    background-color: #e9f3f3
    text-align: center




body > main
  min-height: 75vh
  background-color: #f3f9f9
  padding-top: 1.8rem
  padding-bottom: 1.8rem

  @media(min-width: 500px)
    padding: 1.8rem 1rem

.container-fluid
  @media(max-width: 500px)
    padding: 0

body > footer
  border-top: 1px solid #eee
  padding: 1rem 0
  .divider
    margin: 0 1rem
    color: #bbb
    font-size: 1.4rem
    line-height: 0
    position: relative
    top: -0.1rem


// index

#course-map
  background: asset_url('course_map_bg.png')
  text-align: center
  padding: 3rem

  .course
    background-color: #feffff
    color: #464646
    border-radius: 50px
    padding: 6px 40px 6px 25px
    transition: box-shadow .3s
    border: 2px solid #e5e6e6

    img
      margin-right: .6rem

    &.available
      border-color: #81e5ad
      &:hover
        box-shadow: 0 0 10px -1px #81e5ad


    &.unavailable
      background-color: #7cd2f7
      border-color: #62c6f1
      color: #fff
      padding: 8px 40px

  .divider
    border-right: 1px solid #daf4f2
    border-left: 1px solid #daf4f2
    background-color: #feffff
    width: 9px
    height: 45px


// item page

.breadcrumbs
  margin-bottom: 1.5rem

.question-link
  color: #666

  span
    margin: .3rem

  &:hover
    color: $blue
    text-decoration: none

  &.disabled
    color: #d3d3d3


// discussions

.post-list
  .post
    padding: 18px 12px 15px
    transition: background .3s
    display: block
    color: #464646

    &:not(:first-child)
      border-top: 1px solid #eaeaea

    &:hover
      background-color: #ecf9ff

    &.active
      background: #66c7ef
      color: #fff
      box-shadow: 0 0 5px 0 #66c7ef

      div:last-child *
        color: rgba(255, 255, 255, 0.8)

.active-post
  aside
    width: 10%

  .content
    width: calc(90% - 2rem)

.avatar
  border-radius: 50%
  border: 1px solid #ededed
  background-color: #ededed
  overflow: hidden
  // width: 65px
  // height: 65px
  // @extend .d-flex
  // @extend .align-items-center
  // @extend .justify-content-center
  display: inline-block


// card.js overrides

.jp-card .jp-card-front,.jp-card .jp-card-back
  background-color: #333 !important

.jp-card .jp-card-front
  transition: opacity 500ms

.jp-card.jp-card-flipped .jp-card-front
  opacity: 0

.jp-card .jp-card-back .jp-card-shiny:after
  content: 'Este cartão é emitido pelo Banco. Se encontrado, favor entregar em qualquer agência do Banco. This card is issued by Banco. If found, please return it to the nearest Banco office.' !important

#payment-form
  margin-top: 2rem

  .btn input[type='radio']
    position: absolute
    left: -9999rem
    top: -9999rem

  input
    padding: 0.75rem 0.75rem
    margin-bottom: 0.5rem


// page sales
#page-sales
  .video-link
    display: block
    padding: 1rem 0
    font-size: 1rem
    color: #444
    transition: all .3s

    &:not(.current) strong
      color: $blue

    &:not(:first-child)
      margin-top: 1rem

    &.inactive
      cursor: not-allowed

    &:hover:not(.inactive, .current)
      background-color: #f3f3f3

    &.current
      padding: 1rem
      color: #fff
      border-radius: 4px
      background: $blue

@media(max-width: 991px)
  .video-link:first-child
    margin-top: 1rem


// page subscription
.steps
  margin-bottom: 1.5rem

  > *
    opacity: .4

  a
    color: #555
    border-radius: 50%
    border: 1px solid #ddd
    background-color: #FFF
    display: flex
    justify-content: center
    align-items: center
    width: 2rem
    height: 2rem

    &.active
      opacity: 1
      border-color: $blue
      color: $blue

    &.done
      opacity: 1
      border-color: $blue
      background: $blue
      color: #fff


  span
    height: 1px
    background-color: #ddd
    flex-grow: 1

    &.active
      background-color: $blue

.markdown
  h1,h2,h3,h4,h5,h6
    margin: 2rem 0 1rem
