body
  font-family: 'Open Sans'

img
  max-width: 100%

ul
  list-style: none
  padding: 0


.box
  padding: 1.8rem 1.5rem
  background-color: #feffff
  border-radius: 4px
  box-shadow: 0 1px 1px 0 #eaeaea
  margin-bottom: 25px

  &.with-title
    padding: .5rem

    .title
      text-transform: uppercase
      margin: 0.8rem
      font-weight: 600
      font-size: 0.9rem

      img
        margin-right: 0.3rem

