$blue: #66c7ef
$red: #e24747

body
  font-family: 'Open Sans'
  color: #464646
  font-size: 14px
  &.maximized
    overflow: hidden

a
  &:hover, &:active, &:focus
    text-decoration: none

img
  max-width: 100%

ul
  list-style: none
  padding: 0

  &.list
    list-style: disc
    padding-left: 1.2rem
    li
      margin-bottom: 0.8rem

input::-webkit-input-placeholder
  color: #aaa !important

input::-moz-placeholder
  color: #aaa !important

input:-ms-input-placeholder
  color: #aaa !important

input::placeholder
  color: #aaa !important

.video-container .close
  display: none

.video-container.maximized
  position: fixed
  background: rgba(0, 0, 0, 0.85)
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 99

  .maximize
    display: none
  .close
    display: block
    background: #fff
    padding: 0.5rem 1rem
    z-index: 1
    box-shadow: 0 0 8px 1px #333
    position: absolute
    top: 0
    right: 0

.container
  position: static

  &.smaller
    max-width: 900px
  &.smallest
    max-width: 500px

.box
  padding: 1rem
  background-color: #feffff
  border-radius: 4px
  box-shadow: 0 1px 1px 0 #eaeaea
  margin-bottom: 25px

  main
    padding: 1rem

  .box-title
    font-weight: 600
    font-size: 20px
    margin: 0

.box.bigger
  padding: 2rem

.box.smaller
  padding: .5rem

  .box-title
    text-transform: uppercase
    margin: 0.8rem
    font-weight: 600
    font-size: 0.9rem

    img
      margin-right: 0.3rem

.box.no-padding
  padding: 0

  .box-title
    font-size: 18px
    padding: 23px 25px 18px
    margin: 0

  header
    padding: 1rem
    border-bottom: 1px solid #eee

    .title
      font-weight: 700
      font-size: 18px
      margin-bottom: 0
      img
        margin-right: .3rem

.questions-list a
  display: block
  padding: 15px 25px
  border-top: 1px solid #f3f3f3
  text-decoration: none

  .title
    margin: 0 0.8rem

  &:hover
    background-color: #fafafa

.blue
  color: $blue

.red
  color: $red


// form
textarea.form-control
  min-height: 10rem

.lh-24
  line-height: 24px

.fz-normal
  font-size: 1rem
