<p>Fala, <%= @resource.first_name %>!</p>

<p>Acesse o link abaixo para modificar sua senha:</p>

<p><%= link_to 'Mudar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não você você quem requisitou a troca de senha, desconsidere este e-mail.</p>

<p>Sua senha não vai mudar, a menos que você acesse o link e mude-a você mesmo.</p>

<p>Abraço!</p>
