<% title 'Sobre o SuperDev' %>
<% seo_description 'Por que o SuperDev existe? Quem é Rafael Garcia?' %>

<div class="container smallest lh-24 fz-1">
  <section class="box bigger">
    <h3 class="mb-5">Sobre o SuperDev</h3>

    <strong>Menu Rápido</strong>
    <ul class="list">
      <li>
        <a href="/sobre#why">Por que o SuperDev existe?</a>
      </li>
      <li>
        <a href="/sobre#the_problem">O problema dos cursos no Brasil</a>
      </li>
      <li>
        <a href="/sobre#who">Quem é Rafael Garcia?</a>
      </li>
    </ul>
    <br>
    <h4 class="mb-3" id="why">Por que o SuperDev existe?</h4>
    <p>Saber Programar mudou minha vida como da água pro vinho. Me permitiu conhecer o mundo e me deu oportunidades que eu nem conseguia sonhar em ter, pois não sabia que existia.
    </p>
    <p>Mas não foi um caminho fácil. Ralei muito pra chegar aqui, precisei passar por muita situação difícil, tanto financeira quanto pessoal, de emagrecer vários quilos por não ter dinheiro suficiente pra fazer feira, de ficar com a conta negativa todo santo mês, até passar por situações que não desejo pra ninguém.
    </p>
    <p>Por isso criei o SuperDev, pra ajudar pessoas como você a ter sucesso na área sem precisar passar por tudo isso.</p>
    <p>Eu vou te mostrar o que eu sei que dá resultados de forma eficiente, sem balela.</p>
    <br>

    <h4 class="mb-3" id="the_problem">O problema dos cursos no Brasil</h4>
    <p> <strong>- "Nosso curso tem 200 mil horas de aula gravadas em video"</strong> </p>
    <p>É o que eu vejo na maioria dos cursos por aí.</p>
    <p>O SuperDev nunca vai ser assim.</p>
    <p>A gente vai te mostrar o mínimo de conteúdo possível em vídeo pra você conseguir ter sucesso.</p>
    <p>Ninguém tem tempo nem saco pra ficar assistindo um monte de aula monótona. O pessoal quer mesmo é otimizar o tempo. Quer eficiência, quer ver resultados. </p>
    <p>
      <strong>- "Oferecemos certificados em todos os cursos"</strong>
    </p>
    <p>Se você tá procurando por certificados, tá no lugar errado.</p>
    <p>Certificados, para mim, só servem para as instituições ganharem dinheiro e te darem o falso senso de que você aprendeu alguma coisa.</p>
    <p>Nessa área, você não necessariamente precisa de certificados, eu mesmo não tenho nenhum, nem mesmo faculdade eu fiz.</p>
    <p>SuperDev é lugar de quem quer resultados, se você tem interesse nisso, bem vindo à família. </p>

    <p> <strong>- "Temos 400 cursos disponíveis pra você!"</strong> </p>
    <p>Legal. Mas e quem tá iniciando agora e nem sabe por onde começar? O que acontece? </p>
    <p>Frustração. </p>
    <p>Acaba desistindo da área e perpetuando o mito de que Programação é coisa de louco, de nerd, de gênio, etc. </p>
    <p>O SuperDev nasceu pra mudar isso. A gente quer mostrar que Programar pode ser aprendido da mesma forma que qualquer outra disciplina. </p>
    <p>Por isso nossa plataforma foi construída do zero pensando no iniciante, começando pelo mesmo caminho que eu mesmo comecei. </p>
    <p>Um caminho fez eu me empolgar com a área e me trouxe até aqui. </p>
    <br>


    <h4 class="mb-3" id="who">Quem é Rafael Garcia? </h4>

    <p>
        <%= image_tag 'rafa.png', class: 'rounded pull-left mr-3', width: 150 %>
        Comecei minha jornada como Programador em 2009, trabalhando voluntariamente para aprender a programar.
    </p>

    <p>Meu primeiro emprego na área foi numa pequena empresa aqui na minha cidade, ganhando R$ 250,00 por mês.</p>

    <p>É isso mesmo, você não leu errado. Eu ganhava duzentos e cinquenta reais por mês.</p>

    <p>Aproximadamente 5 anos depois, em 2015, consegui o tão sonhado emprego que mudou minha vida completamente, não só financeiramente, mas pela empresa em si ser um excelente local de trabalho, com um time de alto nível, muito humano e profissional, que realmente se importa com as pessoas (sim, isso é possível).</p>

    <p>Realizei muitos sonhos e objetivos nessa jornada, mas não foi um caminho fácil até chegar aqui, pois, além de ter passado por muitas situações ruins (como ter minha conta bancária negativa todo santo mês, como me alimentar 1 ou 2 vezes por dia, como jantar 2 pedaços de atum enlatado toda noite), precisei descobrir todos os caminhos por mim mesmo, demorando muito mais tempo pra ter sucesso do que eu precisaria se tivesse alguém me guiando.</p>

    <p>E foi por isso que criei o SuperDev.</p>

    <p>Meu novo sonho é ajudar pessoas como você, que também quer realizar seus sonhos e objetivos, que tem um desejo forte e ardente de querer mudar sua própria realidade de vida, mesmo que todas as circunstâncias indiquem ao contrário.</p>

    <p>Vou te mostrar o caminho que eu sei que você vai ter sucesso o mais rápido possível.</p>

    <p>Meu objetivo é te ajudar a ter autonomia pra realizar os seus objetivos.</p>
  </section>
</div>
