<div class="container smallest lh-24 fz-normal">
  <section class="box bigger">
    <h1>Entre em contato de 2 formas</h1>
    <p>
      <span>Envie uma mensagem no Facebook: </span>
      <br>
      <a href="https://www.facebook.com/superdev.academy" target="_superdev_facebook">
        facebook.com/superdev.academy
      </a>
    </p>
    <p>
      <strong>ou</strong>
    </p>
    <p>
      <span>Mande um e-mail para </span>
      <br>
      <a href="mailto:rafael@superdev.academy">
        rafael@superdev.academy
      </a>
    </p>

    <hr>

    <p class="text-muted">
      <small>Simples, fácil e sem burocracias ;)</small>
    </p>
  </section>
</div>
