<% title 'Entre em Contato' %>
<% seo_description 'Fale com o SuperDev de 2 simples formas' %>

<div class="container smallest lh-24 fz-normal">
  <section class="box bigger">
    <h3 class="mb-5">Entre em contato de 2 formas</h3>
    <p>
      Envie uma mensagem no
      <a href="https://www.facebook.com/superdev.academy" target="_superdev_facebook">
        Facebook
      </a>
    </p>
    <p>
      <strong>ou</strong>
    </p>
    <p>
      <span>Envie um e-mail para </span>
      <a href="mailto:rafael@superdev.academy">
        rafael@superdev.academy
      </a>
    </p>


    <p>
      Simples e fácil!
    </p>
  </section>
</div>
