<% title 'Minha história com a Programação' %>
<% seo_description 'Por que o SuperDev existe? Quem é Rafael Garcia?' %>

<div class="container smallest lh-24 fz-1">
  <section class="box bigger">
    <h3 class="mb-5">Minha estranha história com a programação</h3>
    <p>Depois de ler minha história, você <u><strong>nunca mais vai pensar</strong></u> que não consegue aprender a Programar.</p>
    <p>Isso eu lhe garanto.</p>
    <p class="mb-5">Tá pronto? Vamos lá!</p>
    <p class="mb-4">&nbsp;</p>





    <h5 class="mb-4" id="meu-desastroso-inicio"><u><strong>Meu desastroso início</strong></u></h5>
    <p>Eu gosto de programar desde muito cedo, comecei aos 11 anos, porém não consegui ir adiante por não saber como, de fato, aprender isso.</p>
    <p>Ninguém próximo a mim sabia Programar e, como sou de uma cidade bem atrasada, não tinha muita informação disponível na época.</p>
    <p>Aos 18 anos, comecei a trabalhar voluntariamente pra aprender a Programar.</p>
    <p>Pegava ônibus lotado, tinha que fazer almoço no dia anterior pra ter o que almoçar, pois não tinha dinheiro para almoçar fora.</p>
    <p>Cozinha meu feijão preto com 1 pedaço de carne e comia gelado no outro dia.</p>
    <p>ECA! FEIJÃO GELADO?!</p>
    <p>É, eu também nunca pensei que fosse gostar...</p>
    <p>Mas depois de algumas semanas, você acaba se acostumando... Teve um tempo que eu até passei a gostar, sem brincadeira!</p>
    <p>Nesse trabalho eu tinha 2 colegas que já eram muito avançados na área.</p>
    <p>Eu ainda estava engatinhando...</p>
    <p>Me esforcei de verdade para aprender o que eles me passavam, li vários livros, passava umas 15h por dia estudando e tentando programar.</p>
    <p>Mas era só frustração...</p>
    <p>Pra piorar, enquanto eu não conseguia entender e nem desenvolver nada sozinho, meus colegas faziam aquilo com muita facilidade.</p>
    <p>Isso foi aos poucos me desgastando, e acabando com meu amor pela área.</p>
    <p>Depois de alguns meses, decidi desistir, por achar que aquilo não era para mim.</p>
    <p>Eu finalmente entendi o que as pessoas diziam:</p>
    <p>Programar é só pra gênio.</p>


    <h5 class="mt-5 mb-4" id="uma-inesperada-reviravolta"><u><strong>Uma inesperada reviravolta</strong></u></h5>
    <p>Decidi fazer um curso de Design Gráfico, já que curtia bastante edição de vídeo e modelagem 3D.</p>
    <p>Depois de 6 meses desempregado, apenas estudando, consegui um estágio de R$ 250,00 fazendo layouts para websites.</p>
    <p>Porém, o pessoal da empresa viu que eu não era muito bom, kkkk... e me deram o trabalho montar o código dos sites, ao invés de fazer o layout.</p>
    <p>Fiquei morrendo de medo, obviamente, mas fazer o que?</p>
    <p>Eu precisava trabalhar, precisava da grana, então disse que sim.</p>
    <p>Novamente comecei a estudar aquilo noite e dia, tentando montar aqueles sites...</p>
    <p>Até que...</p>
    <p>Para minha surpresa, HTML, CSS e JavaScript não tinham nada a ver com a linguagem Java, que me fez desistir da área.</p>
    <p>Pelo contrário, montando sites eu conseguia ver resultados imediatamente, e eu amava aquilo!</p>
    <p>Comecei a perceber que eu, de fato, conseguia programar, e fui me empolgando cada vez mais.</p>
    <p>Voltei a amar programação :)</p>
    <p>Depois disso eu só queria aprender, aprender e aprender!</p>
    <p>Fiquei fascinado e viciado naquilo.</p>
    <p>Devorei livros de PHP, MySQL, jQuery, JavaScript, HTML, CSS, etc.</p>
    <p>Isso foi em Novembro de 2009.</p>
    <p>Desde essa data minha vida nunca mais foi a mesma, e dou graças a Deus por ter me dado essa chance voltar a programar.</p>
    <p>Essa pequena oportunidade mudou minha vida.</p>


    <h5 class="mt-5 mb-4" id="nem-tudo-sao-flores"><u><strong>Nem tudo são flores</strong></u></h5>
    <p>Em 2012 eu já estava muito frustrado com os empregos aqui da minha cidade, pois não estava aprendendo mais nada, estava estagnado.</p>
    <p>Programando em PHP eu só conseguia empregos em agências de propaganda, sempre fazendo a mesma coisa.</p>
    <p>Isso ficou insuportável para mim.</p>
    <p>Foi então que surgiu uma ultra oportunidade numa multinacional que veio à Natal em busca de candidatos.</p>
    <p>Eu jamais achei que pudesse entrar numa empresa como essa, pois os candidatos todos eram graduados e pós-graduados, e eu era um ninguém, não tinha nem experiência, nem graduação, nem nada!</p>
    <p>Essa multinacional é a ThoughtWorks, e, por sorte, eles também contratam programadores júnior.</p>
    <p>Essa foi uma das maiores conquistas da minha vida, entrei em êxtase ao ser aceito!</p>
    <p>Porém, nem tudo são flores.</p>
    <p>Essa empresa não tinha escritório em Natal, e precisei abandonar tudo para ir morar em Recife, ficando distante também da minha namorada na época (e atual esposa).</p>
    <p>Foi difícil, mas estava prestes a ficar ainda mais difícil.</p>
    <p>A TW é uma excelente empresa, as pessoas que trabalham lá são excepcionais e aprendi muito com todos.</p>
    <p>Porém, o salário que a empresa me pagava não era compatível com Recife.</p>
    <p>Por causa disso, passei por uma péssima fase, aguentando situações como ter minha conta bancária negativa todo santo mês, como me alimentar 1 ou 2 vezes por dia por não ter grana pra fazer feira, como jantar 2 pedaços de atum enlatado toda noite, e, obviamente, emagrecer vários quilos.</p>
    <p>Chegou num momento tão difícil que, certo dia, estava com minha namorada e a gente queria muito ver um filme que estava no cinema, mas eu não tinha condições de pagar uma meia entrada.</p>
    <p>Esse momento foi decisivo pra mim.</p>
    <p>Fiquei muito mal e frustrado com aquilo.</p>
    <p>- PORRA! Eu não consigo levar minha namorada pro cinema?!</p>
    <p>Chorei de tanta angustia e raiva (e eu não sou de chorar).</p>
    <p>Nesse momento eu decidi que nunca mais passaria por isso.</p>


    <h5 class="mt-5 mb-4" id="o-sacrificio-compensa"><u><strong>O sacrifício compensa</strong></u></h5>
    <p>Em 2014, saí da TW para trabalhar numa startup em Chicago, nos EUA.</p>
    <p>Foi aí que meu salário começou a aumentar de verdade, ganhando em dólar.</p>
    <p>Nesse emprego eu me desenvolvi numa velocidade extremamente alta, pois era uma StartUp, e nós precisavamos de resultado para mostrar aos investidores que haviam investido 1 milhão e 100 mil dólares no nosso produto: uma rede social anônima chamada Unseen.</p>
    <p>Éramos somente eu e mais 2 programadores. A gente codava entre 12 e 18 horas por dia.</p>
    <p>Era literalmente trabalhar o dia todo e só ir pra casa dormir. Muitas noites a gente virava codando.</p>
    <p>Era duro, mas era muito divertido!</p>
    <p>Eu amava aquele clima de StartUp, 100% focado em resultados, tudo que eu desenvolvia afetava quase 50mil pessoas diariamente.</p>
    <p>Era muito satisfatório.</p>
    <p>Saímos de Chicago para abrir um escritório em Porto Alegre.</p>
    <p>Eu adorava toda aquela ação de estar no mundo realizando projetos.</p>
    <p>(Foi nesse emprego também que eu comecei a programar bebendo cerveja... Você fica mais produtivo, mas só até certo ponto, kkkk)</p>
    <p>Passei somente 1 ano nessa empresa, mas sinto que aprendi o equivalente a uns 3 anos.</p>
    <p>Chegou num ponto que eu já não estava mais aprendendo, e não me sentia mais necessário ali, e novamente fui em busca de outro emprego.</p>
    <p>Dessa vez eu estava mirando alto, cheguei a negar ofertas de 4 mil e 6 mil dólares por mês, e não pense que foi fácil, pois isso já era muito mais do que eu ganhava na época, e eu já estava completamente infeliz no meu trabalho.</p>
    <p>Passei pouco mais de 60 dias procurando, literalmente, todos os dias.</p>
    <p>Mais de 80 currículos enviados, com cartas de apresentação (cover letters) diferentes para cada uma das empresas, muitas vezes esperando 2 semanas para ser respondido, e MUITAS vezes nem resposta tinha.</p>
    <p>Depois de enfrentar mais ou menos 30 entrevistas.</p>
    <p>Aceitei uma oferta de emprego que mudou minha vida completamente, e não apenas pelo salário.</p>


    <h5 class="mt-5 mb-4" id="atualmente"><u><strong>Meu emprego atual...</strong></u></h5>
    <p>Em 2015, aceitei a oferta do emprego que estou hoje.</p>
    <p>Trabalho para uma empresa nos EUA chamada Power (powerhrg.com), uma empresa enorme com faturamento anual de quase 500 milhões de dólares, que ganhou prêmios em 1o lugar de melhor empresa pra se trabalhar nos EUA.</p>
    <p>Trabalho com um pessoal extremamente humano, que valoriza meu trabalho, meu esforço, minhas opiniões.</p>
    <p>Uma empresa que me dá oportunidades de crescimento, horário flexível, além de trabalhar home office no conforto da minha casa aqui em Natal.</p>
    <p>Fora que ganho um salário bem alto para o padrão dos EUA, e que provavelmente não existe aqui no Brasil para quem trabalha com CLT, e poderia morar em qualquer lugar do mundo.</p>
    <p>Hoje, posso ficar todos os dias com minha atual esposa (antiga namorada), ir ao cinema quando quiser, sair pra jantar, viajar, sem ter que me preocupar em não conseguir pagar as contas no próximo mês.</p>


    <h5 class="mt-5 mb-4" id="em-seguida"><u><strong>O que vem em seguida?</strong></u></h5>
    <p>Certa vez, conversando com um professor, eu falei a ele que não queria ficar no Brasil, por causa de todos os problemas que temos aqui.</p>
    <p>Ele me respondeu:</p>
    <p>- "Se todas as pessoas que têm condições de ajudar esse país a avançar forem morar fora, como vamos melhorar o Brasil?"</p>
    <p>Isso me marcou muito.</p>
    <p>Eu sei que tem muita gente por aí que não teve a mesma sorte que eu, e pode estar passando pelas mesmas dificuldades que eu já passei.</p>
    <p>Eu me identifico muito com essas pessoas e com a causa de ajudá-las.</p>
    <p>Meu propósito agora é trazer a oportunidade que eu tive para essas pessoas, mostrando a elas um caminho assertivo na Programação, para que elas também consigam mudar suas realidades de vida, mesmo com todas as adversidades.</p>
    <p>O SuperDev nasceu por causa desse propósito.</p>
    <p>Se você se identificou com isso, eu te convido a conhecer um pouco mais sobre isso.</p>
    <p>
      Esse é o link: <a href="http://partiu-codar.superdev.academy">partiu-codar.superdev.academy</a>
    </p>

  </section>
</div>




